* {
  margin: 0;
  padding: 0;
  font-family: 'Raleway', sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.inter-font {
  font-family: 'Inter', sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
.container-w {
  max-width: 1140px;
  margin: 0 auto;
}
.header {
  height: 698px;
  background-image: url(../assets/hero-bg.png);
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px 0;
}
.navbar h2 {
  font-size: 34px;
  color: #4e47ff;
  font-weight: 800;
}
.primary-button {
  font-size: 16px;
  font-weight: 700;
  background-color: #4e47ff;
  border: none;
  border-radius: 10px;
  color: white;
  padding: 12px 36px;
  cursor: pointer;
}
.primary-button:hover {
  background-color: white;
  border: 1px solid gainsboro;
  color: #4e47ff;
}
.hero-section {
  text-align: center;
}
.hero-section h1 {
  font-size: 65px;
  font-weight: 700;
  color: #252432;
  margin-top: 150px;
}
.hero-section button {
  margin-top: 37px;
}
